*{
    margin:0;
    padding:0;
}

nav{
    width:100%;
    height:100px;
    background-color:White;
    position:fixed;
}
ul{
    margin-left:60px;

}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height:80px;
}

ul li a{
    text-decoration:none;
    font-size:16px;
    font-family:Arial, sans-serif;
    color:black;
    padding:0 20px;
}

ul li a:hover{
    color:blue;
}
/* index page */

.index1{
    width:100%;
    height:100vh; /* view height*/
    background-image:url(backimg.jpg);
    background-repeat:none;
    background-position: center;
    background-size: cover;
}
.index1 h1{
    font-size:70px;
    color:white;
    text-align:center;
}
.index1 h2{
    font-size:50px;
    text-align:left;
    color:bisque;
}

/* contac login */
.f_one{
    width:100%;
    height:159vh;

    background-image:url(shoping.jpg);
    background-position:center;
    background-repeat:none;
}
.input{
    /* display:flex; */
    /* height:80vh; */
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;

    float:right;
    max-width:450px;
    max-height:1000px;
    background:skyblue;
    padding: 116px 39px;
    border-radius: 5px;
}
/* gallery */
.clothe{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
.clothe h1{
    font-size:36px;
    font-weight:600;
}
.clothe p{
    color:red;;
    font-size:14px;
    font-weight:300;
    padding:10px;
    line-height:22px;
}
.row1{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.sub-clothe{
    flex-basis:31%;
    background:pink;
    border-radius:10px;
    margin-bottom:5%;
    box-sizing: border-box;
}
@media (max-width: 700px){
    .row{
        flex-direction:column;
    }
}

.image{
    width:180px;
    background-image:url(kidscloth.jpg);
}

.image1{
    width:180px;
    background-image:url(menclothe.jpg);
}

.image2{
    width:180px;
    background-image:url(womanscloth.jpg)
}

.row2{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}


.image3{
    width:180px;
    background-image:url(shoe.jpg);
}

.image4{
    width:180px;
    height:180px;
    background-image:url(jersey.jpg);
}

.image5{
    width:180px;
    background-image:url(friends.jpg)
}

.back{
    background-color:grey;
}

.footer{
    text-align:center;
    background-color: black;
    color:white;
    padding:20px;
}



